[Unit]
Description=tm-load-test
Requires=network-online.target
After=network-online.target

[Service]
Restart=on
User=tm-load-test
Group=tm-load-test
PermissionsStartOnly=true
ExecStart=/usr/bin/tm-load-test --config /home/tm-load-test/tm-load-test.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitNOFILE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
